.input {
  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  
    &--name {
      margin: 0;
    }
  }
  
  &__field {
    padding: 7px 15px;
    text-transform: capitalize;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #838d94;
  }
}