@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  background: linear-gradient(to bottom, #60695f 0%, #9eab91 50%, #60695f 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  padding: 32px;
  max-width: 1280px;
  background-color: #edf0f5;
  border-radius: 8px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 100%;
    background-color: #009ddb;
    border-radius: 8px 8px 0 0;
  }
}

.head {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.main {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.icon-cloud {
  font-size: 30px;
  color: #009ddb;
}

.title {
  font-size: 20px;
  color: #838d94;
}

.form {
  margin: 20px 0;
  padding: 20px 32px;
  background-color: #edf0f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 8px;

  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    &--name {
      margin: 0;
    }
  }

  &__field {
    padding: 7px 15px;
    text-transform: capitalize;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #838d94;
  }
}

.button {
  padding: 8px 12px;
  color: #ffffff;
  background-color: #009ddb;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #0085b9;
    
  }
}

.button:disabled {
  background-color: #bbbbbb;
  cursor: initial;
}